{% extends 'layout/base.html'%}

        {% block content %}
        <div class="row row-cols-1 row-cols-md-2 g-4 " width="40%" height="40%"> 
                <div class="col ">
                        <div class="card w-50">
                        <img src="https://eventos.galileo.edu/obtenerArchivo/eyJpdiI6IjI2UkxQcC91Z3kwSnhjVXVXSnNxenc9PSIsInZhbHVlIjoiQmM0WmxycFRUMVRTNmpYb1F4ZzRDdz09IiwibWFjIjoiNjI5NGI3Y2MwMDFhMjFlZDQ3NzEwMDU5ZThkZmMwMDFiYmEzMjFmNDEwOTI0ZTQ1NzdmMjBkZjE4ODQzNjk3OSIsInRhZyI6IiJ9" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Torneo de FC25</h5>
                        <p class="card-text bg-info-subtle text-primary rounded-2">
                        </p>
                        <p class="text-success bg-success-subtle rounded-2">Inicia: 15/10/2025</p>
                        <button type="button" class="btn btn-primary">
                                <i class="bi bi-cart-fill"></i>
                        </button>
                        <button type="button" class="btn btn-success">
                                <i class="bi bi-cash-coin me-2"></i>Q.250.00 
                        </button>
                        
                        </div>
                </div>
        </div>
        
        <div class="col">
                <div class="card w-50">
                <img src="https://eventos.galileo.edu/obtenerArchivo/eyJpdiI6ImhqUGhYNXc5MGZUK0FOVjNmcXRFUnc9PSIsInZhbHVlIjoibGIyeW1YMDdjTFlGWllwUWVtWHVzUT09IiwibWFjIjoiNzI4MzAzZWMwMWE1YmIwOGM5MzEyM2EyZWM4ZGIwOWNmZTQ2YjlmNGU2NWFmZjFlZmUyYTRhZWZjODRmMTQxNiIsInRhZyI6IiJ9" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text text-success bg-success-subtle rounded-2">Inicia: 1/11/2025</p>
                        <button type="button" class="btn btn-primary">
                                <i class="bi bi-cart-fill"></i>
                        </button>
                        <button type="button" class="btn btn-success">
                                <i class="bi bi-cash-coin me-2"></i>Dark
                        </button>
                        </div>
                </div>
        </div>
        </div>



        
        {% endblock %}